@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
body {
  height: 100%;
  /* height: 100%; */
  margin: 0;
  background: linear-gradient(45deg, #000428, #004e92);
  background-size: 400% 400%;
  backdrop-filter: blur(8px);

  animation: gradient 10s ease infinite;
  font-family: "Estonia", cursive;
  font-size: 200%;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

p{
  color: #ffffff;

}
h2{
  color: #ffffff;
  font-size: 200%;
}
:root {
  --mainDark: #000428;
  --mainWhite: #ffffff;
  --mainBlue: #b6c6d4;
  --mainGlue: #465766;
}
